@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
form { max-width:420px; margin:50px auto; }

/* nav bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7B1E8C;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #9F53AD;
}

 .logo-image{
    
    width: 130px;
    height: 40px;
    overflow: hidden;
    margin-top: -10px;
}

.donate {
    
}


.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #7B1E8C;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #7B1E8C; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}


[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#7B1E8C;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}


[type="submit"]:hover { background:#c342cf; }

hide {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#7B1E8C;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

p {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #7B1E8C;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.twoButtons {
    margin-left: 30%;
    width: 80%;
    margin-top: 1%
}

.button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 90px;
  background:#7B1E8C;
  border-radius:5px;
  border:0px;
  cursor:pointer;
  color:white;
  font-size:14px;
  padding-top:6px;
  padding-bottom:5px;
  transition: all 0.3s;
  font-weight:700;
  margin: 0;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


